# Réécriture d'URL (apache qui fonctionne avec ça)
RewriteEngine on

# Remove and slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$1 [L,R=301]

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirection to public folder
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L]

# Redirection all url to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]