* {
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
}

a {
    text-decoration: none;
    display: block;
}

li {
    list-style: none; 
}

// .wrapper {
//     width: 100%;
//     max-width: 1200px;
//     margin: 0 auto;
//     font-size: 1rem;
// }