.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-right ul {
        display: flex;
        flex-wrap: wrap;
    }

    .nav-right li {
        margin-right: 50px;
    }

}

.nav-cat ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
        margin: 20px 0;
    }
}